@import url("https://api.ssps.cajthaml.eu/file/68bd7c005c671348b091f8b1");
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #99621E;
  --secondary-color: #C4C0B3;
  --background-color: #EFECCA;
  --accent-color: #F4F2DA;
}

body, #app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  font-family: "Sour Gummy", sans-serif;
}