@import url("https://api.ssps.cajthaml.eu/file/68bd7c005c671348b091f8b1");
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body, #app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #EFECCA;
  font-family: "Sour Gummy", sans-serif;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #99621E;
  padding: 1rem 5rem;
  background-color: #f4f2da;

  h1 {
    color: #99621E;
    font-weight: 700;
  }
  .stats {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .stats-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .coin-icon {
      width: 24px;
      height: 24px;
      margin-left: 0.5rem;
  }
  .stats-item p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .stats-item .income {
    font-size: 1.2rem;
    color: #99621E;
    margin-left: 0.5rem;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  margin: 1rem;
  justify-items: center;
  align-items: center;
}


