@import url("https://api.ssps.cajthaml.eu/file/68bd7c005c671348b091f8b1");
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body, #app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #EFECCA;
  font-family: "Sour Gummy", sans-serif;
}

.game-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #99621E;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px #99621E;
  margin: 1rem;
  padding: 1rem;
  background-color: #f4f2da;

  h1 {
    color: #99621E;
  }
  .stats {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
  }

  .stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .label {
      font-size: 1.5rem;
    }
    .value {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}